// Colors
$primary: #4b4ded;
$dark: #0a0a33;
$bg-light: #f5f6fa;
$white: #ffffff;

// Shadows
$card-shadow: 0px 8px 25px rgba(0, 0, 0, 0.08);

// Border radius
$radius-lg: 20px;
$radius-md: 8px;


// main variables
$Primary-05: #EFF0FE;
$Primary-2: #C1C2F9;
$Primary-6: #5052C9;
$Primary-8: #2A2B79;
$primary-95: #0E0E3D;

$Gray-50: #E9EDF5;
$Gray-85: #383D44;
$Gray-200: #EAECF0;
$Gray-300: #D0D5DD;
$Gray-500: #687182;
$Gray-600: #475467;
$Gray-900: #0A0A0A;