// Colors
$primary: #4b4ded;
$dark: #0a0a33;
$bg-light: #f5f6fa;
$white: #ffffff;

// Shadows
$card-shadow: 0px 8px 25px rgba(0, 0, 0, 0.08);

// Font
$font-main: "Inter", sans-serif;

// Border radius
$radius-lg: 20px;
$radius-md: 8px;
